In [6]:
import os
import pandas as pd
import numpy as np
import datetime
import tqdm
from tqdm import trange
import json

In [8]:
df= pd.read_csv('t1.csv',encoding='gbk')

In [9]:
df

,Year,Provenceid,Provence,tGDP,first_num,second_num,third_num,first_por,second_por,third_por,avgpeople
0,1987,142,中国,12174.599610,3204.500000,5274.000000,3696.199951,26.299999,43.299999,30.400000,1123.00000
1,1987,650000,新疆维吾尔自治区,148.509995,56.180000,50.299999,42.029999,37.829102,33.869801,28.301100,1053.00000
2,1987,370000,山东省,892.289978,287.309998,384.570007,220.410004,32.199200,43.099201,24.701599,1131.00000
3,1987,630000,青海省,43.380001,11.740000,16.610001,15.030000,27.063200,38.289501,34.647301,1018.00000
4,1987,500000,重庆市,190.350006,62.689999,78.349998,49.310001,32.934101,41.160999,25.904900,673.00000
...,...,...,...,...,...,...,...,...,...,...,...
1051,2019,460000,海南省,5308.930176,1080.359985,1099.030029,3129.540039,20.299999,20.700001,59.000000,56506.82813
1052,2019,430000,湖南省,39752.121090,3646.949951,14946.980470,21158.189450,9.200000,37.599998,53.200001,57540.26172
1053,2019,650000,新疆维吾尔自治区,13597.110350,1781.750000,4795.500000,7019.859863,13.100000,35.299999,51.599998,54280.00000
1054,2019,540000,西藏自治区,1697.819946,138.190002,635.619995,924.010010,8.200000,37.400002,54.400002,48902.00000
1055,2019,420000,湖北省,45828.308590,3809.090088,19098.619140,22920.599610,8.300000,41.700001,50.000000,77386.53906

In [2]:
df=pd.read_csv('data.csv')

In [10]:
#tdict用来转换查表得值，dict用来存储
tdict = { '新疆维吾尔自治区': 0, '西藏自治区': 1, '内蒙古自治区': 2, '青海省': 3, '四川省': 4, '黑龙江省': 5, '甘肃省': 6, '云南省': 7, '广西壮族自治区': 8, '湖南省': 9, '陕西省': 10, '广东省': 11, '吉林省': 12, '河北省': 13, '湖北省': 14, '贵州省': 15, '山东省': 16, '江西省': 17, '河南省': 18, '辽宁省': 19, '山西省': 20, '安徽省': 21, '福建省': 22, '浙江省': 23, '江苏省': 24, '重庆市': 25, '宁夏回族自治区': 26, '海南省': 27, '台湾省': 28, '北京市': 29, '天津市': 30, '上海市': 31, '香港': 32, '澳门': 33 ,'中国':34}
dict= {'新疆': 0, '西藏': 1, '内蒙古': 2, '青海': 3, '四川': 4, '黑龙江': 5, '甘肃': 6, '云南': 7, '广西': 8, '湖南': 9, '陕西': 10, '广东': 11, '吉林': 12, '河北': 13, '湖北': 14, '贵州': 15, '山东': 16, '江西': 17, '河南': 18, '辽宁': 19, '山西': 20, '安徽': 21, '福建': 22, '浙江': 23, '江苏': 24, '重庆': 25, '宁夏': 26, '海南': 27, '台湾': 28, '北京': 29, '天津': 30, '上海': 31, '香港': 32, '澳门': 33,'中国':34}

In [11]:
list=[]
for key,value in dict.items():
    list+=[key]
list

['新疆',
 '西藏',
 '内蒙古',
 '青海',
 '四川',
 '黑龙江',
 '甘肃',
 '云南',
 '广西',
 '湖南',
 '陕西',
 '广东',
 '吉林',
 '河北',
 '湖北',
 '贵州',
 '山东',
 '江西',
 '河南',
 '辽宁',
 '山西',
 '安徽',
 '福建',
 '浙江',
 '江苏',
 '重庆',
 '宁夏',
 '海南',
 '台湾',
 '北京',
 '天津',
 '上海',
 '香港',
 '澳门',
 '中国']

In [12]:
tlist=[]
for key,value in tdict.items():
    tlist+=[key]
tlist

['新疆维吾尔自治区',
 '西藏自治区',
 '内蒙古自治区',
 '青海省',
 '四川省',
 '黑龙江省',
 '甘肃省',
 '云南省',
 '广西壮族自治区',
 '湖南省',
 '陕西省',
 '广东省',
 '吉林省',
 '河北省',
 '湖北省',
 '贵州省',
 '山东省',
 '江西省',
 '河南省',
 '辽宁省',
 '山西省',
 '安徽省',
 '福建省',
 '浙江省',
 '江苏省',
 '重庆市',
 '宁夏回族自治区',
 '海南省',
 '台湾省',
 '北京市',
 '天津市',
 '上海市',
 '香港',
 '澳门',
 '中国']

In [6]:
df.columns

Index(['Year', 'Provenceid', 'Provence', 'tGDP', 'first_num', 'second_num',
       'third_num', 'first_por', 'second_por', 'third_por', 'avgpeople'],
      dtype='object')

In [32]:
tdf=pd.DataFrame(columns=df.columns)

In [13]:
tdf=pd.DataFrame(columns=['Provence','number','year','GDP'])

In [14]:
tdf

Empty DataFrame
Columns: [Provence, number, year, GDP]
Index: []

In [20]:
df['Provenceid'][0]

142

In [15]:
#xiaoweidog
bisa=1987
for i in range(1987,2020):
    curdf=df.loc[df['Year']==i]
    for  index,value in enumerate(list):
        if value in ['台湾','澳门','香港']:
            res=[value,'first_num',i,0]
            tdf.loc[len(tdf)]=res
            res=[value,'second_num',i,0]
            tdf.loc[len(tdf)]=res
            res=[value,'third_num',i,0]
            tdf.loc[len(tdf)]=res
            res=[value,'tGDP',i,0]
            tdf.loc[len(tdf)]=res
        else:
            ccurdf=curdf.loc[curdf['Provence']==tlist[index]]
            res1=[value,'first_num',i]
            res2=[value,'second_num',i]
            res3=[value,'third_num',i]
            res4=[value,'tGDP',i]
            res4+=[float(ccurdf['tGDP'])]
            res1+=[float(ccurdf['first_num'])]
            res2+=[float(ccurdf['second_num'])]
            res3+=[float(ccurdf['third_num'])]
            tdf.loc[len(tdf)]=res1
            tdf.loc[len(tdf)]=res2
            tdf.loc[len(tdf)]=res3
            tdf.loc[len(tdf)]=res4

In [16]:
bisa=1987
for i in range(1987,2020):
    curdf=df.loc[df['Year']==i]
    for  index,value in enumerate(list):
        if value in ['台湾','澳门','香港']:
            res=[i,0,value,0,0,0,0,0,0,0,0]
        else:
            ccurdf=curdf.loc[curdf['Provence']==tlist[index]]
            res=[i]
            res+=[0]
            res+=[value]
            res+=[float(ccurdf['tGDP'])]
            res+=[float(ccurdf['first_num'])]
            res+=[float(ccurdf['second_num'])]
            res+=[float(ccurdf['third_num'])]
            res+=[float(ccurdf['first_por'])]
            res+=[float(ccurdf['second_por'])]
            res+=[float(ccurdf['third_por'])]
            res+=[float(ccurdf['avgpeople'])]
        tdf.loc[len(tdf)]=res

KeyboardInterrupt:

In [39]:
print(max(tdf.loc[tdf['Provence']!='中国']['tGDP']))

107671.0703

In [22]:
tdf.to_csv('xwdata.csv',encoding="gbk",index=False)

In [19]:
tdf[10:]

     Provence      number  year            GDP
10        内蒙古   third_num  1987      79.639999
11        内蒙古        tGDP  1987     212.270004
12         青海   first_num  1987      11.740000
13         青海  second_num  1987      16.610001
14         青海   third_num  1987      15.030000
...       ...         ...   ...            ...
4615       澳门        tGDP  2019       0.000000
4616       中国   first_num  2019   70466.703130
4617       中国  second_num  2019  386165.312500
4618       中国   third_num  2019  534233.125000
4619       中国        tGDP  2019  990865.125000

[4610 rows x 4 columns]

In [28]:
ndf= pd.read_csv('xwdata.csv',encoding='utf-8')

In [30]:
ndf.to_csv('xwdata.csv',index=False)